object {
    height: 70vh;
}

.shema {
    display: flex;
    gap: 2rem;
    height: 20vh;
}
.object {
    text-align: center;
    width: 10%;
    background-color: aquamarine;
}
.table {
    text-align: center;
    width: 10%;
    background-color: aqua;
}
label {
    font-weight: bold;
}